@model IEnumerable<HospitalsTestsAndVaccines.Models.Appointment>
@{ ViewBag.Title = "Appointments"; }

<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h3>Appointments </h3>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">
            <table id="appointments" class=" data table table-striped no-margin">
                <thead>
                    <tr>
                        <th>Patient First Name</th>
                        <th>Patient Last Name</th>
                        <th>Phone</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Detail</th>
                        <th>Status</th>
                        <th></th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ApplicationUserId</td>
                            <td>@item.Product.ProductName</td>
                            <td>@item.StartDateTime</td>
                            <td>@item.StartDateTime.ToString("MMM")-@item.StartDateTime.ToString("d ")-@item.StartDateTime.ToString("yyyy")</td>
                            <td>@item.StartDateTime.ToString("HH:mm")</td>
                            <td>@item.Detail</td>
                            <td>
                                @{ if (item.Status == true)
                                    {
                                        <a href="#" style="padding: 3px 10px 3px 10px; background-color:green " class="badge" readonly>Approved</a> 
                                    }
                                   else
                                    {
                                    <a href="#" style="padding: 3px 10px 3px 10px; background-color:greenyellow" class="badge" readonly>Pending</a> 
                                    } 
                                  }
                            </td>
                            <td>
                            <a href="@Url.Action("Edit","Appointments", new { id = item.Id})" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i>Edit</a>
                            </td>
                        </tr>
                      }
                </tbody>
            </table>
        </div>
    </div>

</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#appointments').DataTable();
        });
    </script>
}


@*@model IEnumerable<HospitalsTestsAndVaccines.Models.Appointment>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUserId)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUserId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@
