@model  HospitalsTestsAndVaccines.Models.ApplicationUser


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Το Προφίλ του @Html.DisplayFor(modelItem => Model.FirstName)</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HealthIssues)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>*@
        <th></th>
    </tr>

    @*@foreach (var item in Model)
    {
        if (item.Id == "998f4c88-2cd8-40ae-a8b6-6dac697b4bfa")
        {*@
<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.DateOfBirth)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Amka)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.HealthIssues)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.HealthIssues)
    </td>

    <td>
        @Html.DisplayFor(modelItem => Model.Appointments)
    </td>
    @*}*@

    @*<td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>*@
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    </td>
</tr>
           
   

    </table>
