

@model IEnumerable<HospitalsTestsAndVaccines.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Κατάλογος Ασθενών</h2>

@using (Html.BeginForm("ListOfCustomers", "ApplicationUsers", FormMethod.Get))
{
    //---------------------------------SEARCH OPTIONS (ΟΝΟΜΑ, ΕΠΙΘΕΤΟ, ΤΗΛΕΦΩΝΟ)-------------------------------------------------
    <b> Ευρετήριο: </b>@Html.RadioButton("option", "FirstName") <text>Όνομα</text> @Html.RadioButton("option", "LastName") <text>Επίθετο</text> @Html.RadioButton("option", "Phone") <text>Τηλέφωνο</text>
    @Html.TextBox("search")
    <input type="submit"
           name="submit"
           value="Search" />
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HealthIssues)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Id != "207758ff-59e1-4cb9-a2ad-32efb936138c" && item.Id != "d8417601-4cbb-4281-87d6-43b61a894e7d")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amka)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HealthIssues)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>

        }
    }
</table>
