<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="@Url.Action("Index", "Home")">Metropolitan Hospital</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                

                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                    </li>

                    @if (!User.IsInRole("Patient") && !User.IsInRole("Dev") && !User.IsInRole("HospAdmin"))
                    {

                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="@Url.Action("IndexViewDefault", "Products")">Products</a>
                        </li>
                    }

                    @if (User.IsInRole("Patient"))
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="@Url.Action("IndexViewForPatients", "Products")">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="@Url.Action("AppointmentsOfPatient", "Appointments")">Appointments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="@Url.Action("ReadAndEditOnly", "ApplicationUsers")">User</a>
                        </li>
                    }
                    @if (User.IsInRole("Dev"))
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="@Url.Action("IndexViewForDevs", "Products")">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="@Url.Action("AllAppointments", "Appointments")">Appointments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="@Url.Action("ListOfCustomers", "ApplicationUsers")">User</a>
                        </li>
                    }
                    @if (User.IsInRole("HospAdmin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="@Url.Action("IndexViewDefault", "Products")">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="@Url.Action("AllAppointments", "Appointments")">Appointments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="@Url.Action("ListOfCustomers", "ApplicationUsers")">User</a>
                        </li>

                    }

                    @Html.Partial("_LoginPartial")





                </ul>
            </div>
        </div>
    </nav>

    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MetroHospital.gr", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (!User.IsInRole("Patient") && !User.IsInRole("Dev") && !User.IsInRole("HospAdmin"))
                    {
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Products", "IndexViewDefault", "Products")</li>
                    }
                    @if (User.IsInRole("Patient"))
                    {
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Products", "IndexViewForPatients", "Products")</li>
                        <li>@Html.ActionLink("Appointments", "AppointmentsOfPatient", "Appointments")</li>
                        <li>@Html.ActionLink("Profile", "ReadAndEditOnly", "ApplicationUsers")</li>
                    }
                    @if (User.IsInRole("Dev"))
                    {
                        <li>@Html.ActionLink("Products", "IndexViewForDevs", "Products")</li>
                        <li>@Html.ActionLink("Appointments", "AllAppointments", "Appointments")</li>
                        <li>@Html.ActionLink("Patients", "ListOfCustomers", "ApplicationUsers")</li>
                    }
                    @if (User.IsInRole("HospAdmin"))
                    {
                        <li>@Html.ActionLink("Products", "IndexViewDefault", "Products")</li>
                        <li>@Html.ActionLink("Appointments", "AllAppointments", "Appointments")</li>
                        <li>@Html.ActionLink("Patients", "ListOfCustomers", "ApplicationUsers")</li>
                    }

                </ul>
            </div>
        </div>
    </div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/lib")

    @RenderSection("scripts", required: false)
</body>
</html>
