@model Microsoft.AspNet.Identity.EntityFramework.IdentityUser
@{
    ViewBag.Title = "ShowInfoOfLoggedUser";
}

<h2>ShowInfoOfLoggedUser</h2>
@{
    ViewBag.Title = "Show Info Of Logged User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="box-title">
            <b>Current User</b>
        </h3>
    </div>
    <!-- /.box-header -->
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(m => Model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(m => Model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => Model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(m => Model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => Model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(m => Model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => Model.First)
        </dt>
        <dd>
            @Html.DisplayFor(m => Model.Id)
        </dd>


    </dl>
</div>