@using HospitalsTestsAndVaccines.Models
@model LoginViewModel
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/logIn-form/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/Content/logIn-form/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/logIn-form/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/Content/logIn-form/css/style.css">

    <title>Login #6</title>
</head>
<body>

    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    
                    <br />
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="d-flex mb-5 align-items-center">
                        <label class="control control--checkbox mb-0">
                            <span class="caption">Remember me</span>
                            <input type="checkbox" checked="checked" />
                            @Html.CheckBoxFor(m => m.RememberMe)
                            <div class="control__indicator"></div>
                        </label>
                    </div>

                    <input type="submit" value="Log In" class="btn btn-block btn-primary">

                    
                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@

            
                }
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                <br />
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                
            </section>
        </div>
    </div>
    </body>
</html>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
